*{
margin: 0px;
padding: 0px;
font-family: "Montserrat", sans-serif;
}
body{
    background-image: url(/ass/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}
.nm-form {
    width: 30vw;
    margin: 20vh auto;
    overflow: hidden;
    padding-top: 45px;
 background-color: rgba(0, 0, 0, 0.662);
 border: 3px solid white;
 border-radius: 25px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
        margin: 20px;
        color: white;
        text-align: center;
        font-size: px;
    
}
#name{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dob-section{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: white;

}
#dob-calander{
    width: 250px;
    height: 30px;
    

}
#submit{
    border: none;
    background-color: rgb(80, 80, 255);
    color: white;
    padding: 10px 25px;
    /* font-style: bo;
 */
 font-weight: 700;
 font-size: 18px;
 margin-top: 30px;
 border-radius:5px ;
}
.labels{
    font-size: 20px;
    font-weight: 600;
    margin-left: 0px;
    color: white;

}
.dob-label{
    margin-left: 0px;
    margin-bottom: 10px;
}
.name-label{
    margin-bottom: 10px;
}

